{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ obj.full_name }}</h1>
            <a href="{% url 'employee_update' pk=obj.id %}"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-pencil fa-sm text-white-50"></i>&nbsp Update
                Employee</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="accordion" id="accordionExample">
            <div class="card shadow mb-4">
                <div class="card-header" id="personalDetails">
                    <h2 class="mb-0">
                        <button class="btn btn-light text-left"
                                type="button" data-toggle="collapse"
                                data-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            <h5>
                                Personal Details
                            </h5>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show"
                     aria-labelledby="personalDetails"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row row-cols-2 m-3">
                            <div class="col col-4">
                                <b>
                                    First Name
                                </b>
                            </div>
                            <div class="col col-8">
                                {{ obj.first_name }}
                            </div>
                        </div>
                        <hr class="sidebar-divider my-0">
                        <div class="row row-cols-2 m-3">
                            <div class="col col-4">
                                <b>
                                    Middle Name
                                </b>
                            </div>
                            <div class="col col-8">
                                {{ obj.middle_name }}
                            </div>
                        </div>
                        <hr class="sidebar-divider my-0">
                        <div class="row row-cols-2 m-3">
                            <div class="col col-4">
                                <b>
                                    Last Name
                                </b>
                            </div>
                            <div class="col col-8">
                                {{ obj.last_name }}
                            </div>
                        </div>
                        <hr class="sidebar-divider my-0">
                        <div class="row row-cols-2 m-3">
                            <div class="col col-4">
                                <b>
                                    Phone
                                </b>
                            </div>
                            <div class="col col-8">
                                {{ obj.phone }}
                            </div>
                        </div>
                        <hr class="sidebar-divider my-0">
                        <div class="row row-cols-2 m-3">
                            <div class="col col-4">
                                <b>
                                    Department
                                </b>
                            </div>
                            <div class="col col-8">
                                {{ obj.department.name }}
                            </div>
                        </div>
                        <hr class="sidebar-divider my-0">
                        <div class="row row-cols-2 m-3">
                            <div class="col col-4">
                                <b>
                                    Role
                                </b>
                            </div>
                            <div class="col col-8">
                                {{ obj.role }}
                            </div>
                        </div>
                        <hr class="sidebar-divider my-0">
                        <div class="row row-cols-2 m-3">
                            <div class="col col-4">
                                <b>
                                    Birthday
                                </b>
                            </div>
                            <div class="col col-8">
                                {{ obj.date_of_birth }} ({{ obj.age }} years)
                            </div>
                        </div>
                        <hr class="sidebar-divider my-0">
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-light text-left collapsed"
                                type="button" data-toggle="collapse"
                                data-target="#collapseTwo"
                                aria-expanded="false"
                                aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse"
                     aria-labelledby="headingTwo"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        Some placeholder content for the second accordion
                        panel. This panel is hidden by default.
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-light text-left collapsed"
                                type="button" data-toggle="collapse"
                                data-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse"
                     aria-labelledby="headingThree"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        And lastly, the placeholder content for the third
                        and final accordion panel. This panel is hidden by
                        default.
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
